# Stage 1 (Dataset Selection and Exploration)

RestaurantID    :
MenuCategory    :
MenuItem        :
Ingredients     :
Price           :
Profitability   :

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('restaurant_menu_optimization_data.csv')

df.head()

,RestaurantID,MenuCategory,MenuItem,Ingredients,Price,Profitability
0,R003,Beverages,Soda,['confidential'],2.55,Low
1,R001,Appetizers,Spinach Artichoke Dip,"['Tomatoes', 'Basil', 'Garlic', 'Olive Oil']",11.12,Medium
2,R003,Desserts,New York Cheesecake,"['Chocolate', 'Butter', 'Sugar', 'Eggs']",18.66,High
3,R003,Main Course,Chicken Alfredo,"['Chicken', 'Fettuccine', 'Alfredo Sauce', 'Pa...",29.55,High
4,R002,Main Course,Grilled Steak,"['Chicken', 'Fettuccine', 'Alfredo Sauce', 'Pa...",17.73,Medium

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RestaurantID   1000 non-null   object
 1   MenuCategory   1000 non-null   object
 2   MenuItem       1000 non-null   object
 3   Ingredients    1000 non-null   object
 4   Price          1000 non-null   float64
 5   Profitability  1000 non-null   object
dtypes: float64(1), object(5)
memory usage: 47.0+ KB

In [7]:
# Visualisasi distribusi profitabilitas
sns.countplot(df['Profitability'])
plt.title('Distribusi Profitabilitas Menu')
plt.xlabel('Profitability')
plt.ylabel('Frequency')
plt.show()

# Visualisasi harga vs profitabilitas
plt.figure(figsize=(10, 6))
sns.boxplot(x='Profitability', y='Price', data=df)
plt.title('Harga vs Profitabilitas')
plt.xlabel('Profitability')
plt.ylabel('Price')
plt.show()

ValueError: could not convert string to float: 'Low'